Bookmark App/backend/template.yaml
AWSTemplateFormatVersion: 2010-09-09
Transform: AWS::Serverless-2016-10-31
Description: Bookmarks - A simple Serverless App using AWS SAM
Resources:
  api:
    Type: AWS::Serverless::Api
    Properties:
      Name: !Sub
        - Bookmark App
        - ResourceName: /bookmarks
      StageName: !Ref APIGatewayStageName
      Cors:
        AllowMethods: "'*'"
        AllowHeaders: "'*'"
        AllowOrigin: "'*'"
      DefinitionBody:
        swagger: '2.0'
        info: {}
        paths:
          /queue:
            get:
              description : "See queue messages"
              produces:
                - application/json
              responses:
                '200':
                  description: Successfully retrieved all bookmarks!!
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${QueueLambda.Arn}/invocations
          /bookmarks:
            get:
              description : "list bookmarks"
              produces:
                - application/json
              responses:
                '200':
                  description: Successfully retrieved all bookmarks!!
                  schema:
                    $ref: '#/definitions/Bookmarks'
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${listBookmarks.Arn}/invocations
            post:
              description : "create bookmarks"
              responses:
                "200":
                  description: "Successfully Added BookMark"
                  schema:
                    $ref: '#/definitions/Bookmarks'
                "404":
                  description: "bookmark not found"
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${createBookmark.Arn}/invocations
          /bookmarks/{id}:
            get:
              description : "create a bookmark"
              parameters:
                - name: id
                  in: path
                  required: true
                  type: string
              responses:
                "200":
                  description: "Successfully added a bookmark"
                "404":
                  description: "bookmark not found"
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${getBookmark.Arn}/invocations
            put:
              description : "update a bookmark"
              parameters:
                - name: id
                  in: path
                  required: true
                  type: string
              responses:
                "200":
                  description: "Successfully updated a bookmark"
                "404":
                  description: "Could not update the bookmark"
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${updateBookmark.Arn}/invocations
            delete:
              description : "delete a bookmark"
              parameters:
                - name: id
                  in: path
                  required: true
                  type: string
              responses:
                "200":
                  description: "Successfully deleted a bookmark"
                "404":
                  description: "Could not delete a bookmark"
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws_proxy
                uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${deleteBookmark.Arn}/invocations
            options:
              description : "update a bookmark"
              parameters:
                - name: id
                  in: path
                  required: true
                  type: string
              consumes:
                - "application/json"
              produces:
                - "application/json"
              responses:
                "200":
                  description: "200 response"
                  headers:
                    Access-Control-Allow-Origin:
                      type: "string"
                    Access-Control-Allow-Methods:
                      type: "string"
                    Access-Control-Allow-Headers:
                      type: "string"
              x-amazon-apigateway-integration:
                responses:
                  default:
                    statusCode: "200"
                    responseParameters:
                      method.response.header.Access-Control-Allow-Methods: "'POST, GET, DELETE, PUT'"
                      method.response.header.Access-Control-Allow-Headers: "'*'"
                      method.response.header.Access-Control-Allow-Origin: "'*'"
                    responseTemplates:
                      application/json: "{}\n"
                requestTemplates:
                  application/json: "{\n  \"statusCode\" : 200\n}\n"
                passthroughBehavior: "when_no_match"
                type: "mock"
          /bookmarks/approval:
            get:
              x-amazon-apigateway-integration:
                httpMethod: POST
                type: aws
                uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${userApproval.Arn}/invocations
                responses: 
                  "-":
                    statusCode: "302"
                    responseParameters:
                      method.response.header.Location : "integration.response.body.headers.Location"
                requestTemplates:
                  application/json: |
                    {
                      "body" : $input.json('$'),
                      "headers": {
                        #foreach($header in $input.params().header.keySet())
                        "$header": "$util.escapeJavaScript($input.params().header.get($header))" #if($foreach.hasNext),#end

                        #end
                      },
                      "method": "$context.httpMethod",
                      "params": {
                        #foreach($param in $input.params().path.keySet())
                        "$param": "$util.escapeJavaScript($input.params().path.get($param))" #if($foreach.hasNext),#end

                        #end
                      },
                      "query": {
                        #foreach($queryParam in $input.params().querystring.keySet())
                        "$queryParam": "$util.escapeJavaScript($input.params().querystring.get($queryParam))" #if($foreach.hasNext),#end

                        #end
                      }
                    }
              responses:
                "302":
                  description: "success"
                  headers:
                    Location:
                      type: "string"
        definitions:
          Bookmarks:
            type : object
            properties : 
              id : 
                type : "string"
              url :
                type : "string"
              name :
                type : "string"
      EndpointConfiguration: REGIONAL
    Metadata:
      FinTag: /bookmarks
  #LAMBDA
  QueueLambda: 
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-queueLambda
      Description: !Sub
          - ${ResourceName} Function
          - ResourceName: queueLambda
      CodeUri: src/queueLambda
      Handler: index.handler
      Runtime: nodejs14.x
      Tracing: Active
      MemorySize: 3008
      Timeout: 30
      Role : !ImportValue LambdaDeploymentRole
      Policies:
        - AWSXrayWriteOnlyAccess
      Environment:
        Variables:
          QUEUE: !Ref AppQueue
      Events:
        apiGET:
          Type: Api
          Properties:
            Path: /queue
            Method: GET
            RestApiId: !Ref api
  DLQReader: 
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-dlqReader
      Description: !Sub
          - ${ResourceName} Function
          - ResourceName: dlqReader
      CodeUri: src/dlqReader
      Handler: index.handler
      Runtime: nodejs14.x
      Tracing: Active
      MemorySize: 3008
      Timeout: 30
      Role : !ImportValue LambdaDeploymentRole
      Policies:
        - AWSXrayWriteOnlyAccess
  getBookmark:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-getBookmark
      Description: !Sub
        - ${ResourceName} Function 
        - ResourceName: getBookmark
      CodeUri: src/getBookmark
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Role: !ImportValue LambdaDeploymentRole
      Policies:
        - AWSXrayWriteOnlyAccess
        - DynamoDBCrudPolicy:
            TableName: !Ref bookmarksTable
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
      Events:
        apiGET:
          Type: Api
          Properties:
            Path: /bookmarks/{id}
            Method: GET
            RestApiId: !Ref api
    Metadata:
      FinTag: getBookmark
  updateBookmark:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-updateBookmark
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: updateBookmark
      CodeUri: src/updateBookmark
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Role : !ImportValue LambdaDeploymentRole
      Policies:
        - AWSXrayWriteOnlyAccess
        - DynamoDBCrudPolicy:
            TableName: !Ref bookmarksTable
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
      Events:
        apiPUT:
          Type: Api
          Properties:
            Path: /bookmarks/{id}
            Method: PUT
            RestApiId: !Ref api
    Metadata:
      FinTag: updateBookmark
  createBookmark:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-createBookmark
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: createBookmark
      CodeUri: src/createBookmark
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Role : !ImportValue LambdaDeploymentRole
      Policies:
        - AWSXrayWriteOnlyAccess
        - DynamoDBCrudPolicy:
            TableName: !Ref bookmarksTable
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
          QUEUE: !Ref AppQueue
      Events:
        apiPOST:
          Type: Api
          Properties:
            Path: /bookmarks
            Method: POST
            RestApiId: !Ref api
    Metadata:
      FinTag: createBookmark
  deleteBookmark:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-deleteBookmark
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: deleteBookmark
      CodeUri: src/deleteBookmark
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Role : !ImportValue LambdaDeploymentRole
      Policies:
        - AWSXrayWriteOnlyAccess
        - DynamoDBCrudPolicy:
            TableName: !Ref bookmarksTable
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
      Events:
        apiDELETE:
          Type: Api
          Properties:
            Path: /bookmarks/{id}
            Method: DELETE
            RestApiId: !Ref api
    Metadata:
      FinTag: deleteBookmark
  listBookmarks:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-listBookmarks
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: listBookmarks
      CodeUri: src/listBookmarks
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Role : !ImportValue LambdaDeploymentRole
      Policies:
        - AWSXrayWriteOnlyAccess
        - DynamoDBCrudPolicy:
            TableName: !Ref bookmarksTable
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
      Events:
        apiGETAll:
          Type: Api
          Properties:
            Path: /bookmarks
            Method: GET
            RestApiId: !Ref api
    Metadata:
      FinTag: listBookmarks
  contest:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-contest
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: contest
      CodeUri: src/contest
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 15
      Role: !ImportValue LambdaDeploymentRole
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
  streamTrigger:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-streamTrigger
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: streamTrigger
      CodeUri: src/streamTrigger
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 15
      Role: !ImportValue LambdaDeploymentRole
    Metadata:
      FinTag: streamTrigger
  DuplicateCheck:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-DuplicateCheck
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: DuplicateCheck
      CodeUri: src/duplicateCheck
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 15
      Role: !ImportValue  LambdaDeploymentRole
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
          contestSnsTopic: !Ref SNSContestTopic
          INDEX_NAME: "bookmarkUrl-index"  
  userApproval:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-userApproval
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: userApproval
      CodeUri: src/userApproval
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 15
      Role: !ImportValue  LambdaDeploymentRole
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
      Events:
        apiUser:
          Type: Api
          Properties:
            Path: /bookmarks/approval
            Method: GET
            RestApiId: !Ref api
    Metadata:
      FinTag: userApproval
  userApprovalEmail:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-userApprovalEmail
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: userApprovalEmail
      CodeUri: src/userApprovalEmail
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 15
      Role: !ImportValue LambdaDeploymentRole
      Environment:
        Variables:
          contestSnsTopic: !Ref SNSContestTopic
    Metadata:
      FinTag: userApprovalEmail
  validateURL:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-validateURL
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: validateURL
      CodeUri: src/validateURL
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 15
      Role: !ImportValue LambdaDeploymentRole
      Environment:
        Variables:
          contestSnsTopic: !Ref SNSContestTopic
    Metadata:
      FinTag: validateURL
  publishApproval:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-publishApproval
      Description: !Sub
        - ${ResourceName} Function
        - ResourceName: publishApproval
      CodeUri: src/publishApproval
      Handler: index.handler
      Runtime: nodejs14.x
      MemorySize: 3008
      Timeout: 15
      Role: !ImportValue LambdaDeploymentRole
      Environment:
        Variables:
          TABLE_NAME: !Ref bookmarksTable
          TABLE_ARN: !GetAtt bookmarksTable.Arn
          contestSnsTopic: !Ref SNSContestTopic
    Metadata:
      FinTag: publishApproval
  # DYNAMODB
  bookmarksTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES
      TableName: !Sub ${AWS::StackName}-bookmarksTable
    Metadata:
      FinTag: Bookmarks
  #Event Source Maps
  EventSourceMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: 1
      EventSourceArn: 
        Fn::GetAtt:
          - "bookmarksTable"
          - "StreamArn"
      FunctionName:
        Fn::GetAtt:
          - "streamTrigger"
          - "Arn"
      Enabled: true
      StartingPosition: TRIM_HORIZON
  DLQEventSourceMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: 3
      EventSourceArn: 
        Fn::GetAtt:
          - "AppDLQ"
          - "Arn"
      FunctionName:
        Fn::GetAtt:
          - "DLQReader"
          - "Arn"
      Enabled: true
  #SNS
  SNSBookmarkTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: BookmarkTopic
  SNSContestTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: ContestTopic
  #CW
  CloudWatchLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/events/catch-all
  EventBus:
    Type: AWS::Events::EventBus
    Properties:
      Name: bookmarks-bus
  EventBridgeCatchAllRule:
    Type: AWS::Events::Rule
    Properties:
      Name: catch-all-rule
      Description: 'catch all rule for cloudwatch logs'
      EventBusName: !Ref EventBus
      EventPattern: 
        source: 
          - "DynamoDB Streams"
        detail-type: 
          - "Shared Bookmarks"
      Targets:
        - Arn: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:${CloudWatchLogGroup}"
          Id: CloudWatchLogGroup
  EventBridgeContestRule:
    Type: AWS::Events::Rule
    Properties:
      Name: contest-rule
      Description: 'contest rule'
      EventBusName: !Ref EventBus
      EventPattern: 
        source: 
          - "DynamoDB Streams"
        detail-type: 
          - "Shared Bookmarks"
        detail:
          shared: 
            - true
          contest: 
            - "Entering"
      Targets:
        - Arn: !GetAtt contest.Arn
          Id: contest
  PublishRule:
    Type: AWS::Events::Rule
    Properties:
      Name: publish-rule
      Description: 'publish rule'
      EventBusName: !Ref EventBus
      EventPattern: 
        source: 
          - "DynamoDB Streams"
        detail-type: 
          - "Shared Bookmarks"
        detail:
          shared: 
            - true
          contest: 
            - "Entered"
      Targets:
        - Arn: !GetAtt contest.Arn
          Id: contest 
  PermissionForEventsToInvokeLambda: 
    Type: AWS::Lambda::Permission
    Properties: 
      FunctionName: 
        Ref: "contest"
      Action: "lambda:InvokeFunction"
      Principal: "events.amazonaws.com"
      SourceArn: 
        Fn::GetAtt: 
          - EventBridgeContestRule
          - Arn
  ApiGatewayInvokeLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties: 
      Action: "lambda:InvokeFunction"
      FunctionName: 
        Ref: "userApproval"
      Principal: "apigateway.amazonaws.com"
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${api}/*/*/*"
  EventBridgeNotifyRule:
    Type: AWS::Events::Rule
    Properties:
      Name: notify-rule
      Description: 'notify rule'
      EventBusName: !Ref EventBus
      EventPattern: 
        source: 
          - "DynamoDB Streams"
        detail-type: 
          - "Shared Bookmarks"
        detail:
          shared: 
            - true
          contest: 
            - anything-but: 
                - "Entering"              
      Targets:
        - Arn: 
            Ref: "SNSBookmarkTopic"
          Id: "SNSBookmarkTopic" 
  EventTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties: 
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal: 
              Service: events.amazonaws.com
            Action: 'sns:Publish'
            Resource: '*'
      Topics:
        - !Ref SNSBookmarkTopic
  AppQueue: 
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub ${AWS::StackName}-testQueue
      RedrivePolicy: 
        deadLetterTargetArn: !GetAtt AppDLQ.Arn
        maxReceiveCount: 2
  AppDLQ: 
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub ${AWS::StackName}-deadLetterQueue
      VisibilityTimeout: 30
  PublishStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !ImportValue LambdaDeploymentRole
      DefinitionString: !Sub
        - |-
          {
            "Comment": "Publish Rule work flow",
            "StartAt": "CheckDuplicates",
            "States": {
              "CheckDuplicates": {
                "Type": "Task",
                "Resource": "${DuplicateCheckFunctionArn}",
                "InputPath":"$",
                "ResultPath":"$.extractedMetadata",
                "Catch": [
                    {
                      "ErrorEquals": [ "States.ALL" ],
                      "Next": "NotifyUser"
                    }
                  ],
                "Next": "DuplicateChoiceState"
              },
              "DuplicateChoiceState": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.extractedMetadata",
                      "StringEquals": "NotDuplicate",
                      "Next": "NotDuplicate"
                    },
                    {
                      "Variable": "$.extractedMetadata",
                      "StringEquals": "Duplicate",
                      "Next": "Duplicate"
                    }
                  ]
                },
              "NotDuplicate": {
                "Type": "Pass",
                "Next": "ValidateURL"
              },
              "Duplicate": {
                "Type": "Pass",
                "Next": "NotifyUser"
              },
              "ValidateURL":{
                "Type": "Task",
                "Resource": "${validateURLFunction}",
                "InputPath":"$",
                "ResultPath":"$.extractedMetadata",
                "Catch": [
                    {
                      "ErrorEquals": [ "States.ALL" ],
                      "Next": "NotifyUser"
                    }
                  ],
                "Next": "ValidateChoiceState"
                },
              "ValidateChoiceState": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.extractedMetadata",
                      "StringEquals": "Valid",
                      "Next": "UserApprovalEmail"
                    },
                    {
                      "Variable": "$.extractedMetadata",
                      "StringEquals": "Invalid",
                      "Next": "NotifyUser"
                    }
                  ]
                },
              "UserApprovalEmail": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "InputPath":"$",
                "ResultPath":"$.extractedMetadata",
                "Parameters": {
                  "FunctionName": "${userApprovalEmailFunction}",
                  "Payload": {
                    "ExecutionContext.$": "$$",
                    "APIGatewayEndpoint": "https://${api}.execute-api.${AWS::Region}.amazonaws.com/${APIGatewayStageName}/bookmarks/approval"
                  }
                },
                "Next": "ManualApprovalChoiceState"
                  },
                "ManualApprovalChoiceState": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.extractedMetadata.Status",
                      "StringEquals": "Approved",
                      "Next": "PublishApproval"
                    },
                    {
                      "Variable": "$.extractedMetadata.Status",
                      "StringEquals": "Rejected",
                      "Next": "NotifyUser"
                    }
                  ]
                },
            "PublishApproval":{
              "Type": "Task",
              "Resource": "${publishApprovalArn}",
              "InputPath": "$",
              "ResultPath": "$.extractedMetadata",
              "Next": "NotifyUser"
              },
              "NotifyUser": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sns:publish",
                  "InputPath": "$",
                  "Parameters": {
                    "TopicArn": "${ContestTopicArn}",
                    "Message.$": "$",
                    "MessageAttributes": {
                      "msg": {
                        "DataType": "String",
                        "StringValue": "additional instructions!"
                      }
                    }
                  },
                  "End": true
                  }
            }
          }
        - DuplicateCheckFunctionArn: !GetAtt DuplicateCheck.Arn
          validateURLFunction: !GetAtt validateURL.Arn
          userApprovalEmailFunction: !GetAtt userApprovalEmail.Arn
          publishApprovalArn: !GetAtt publishApproval.Arn
          ContestTopicArn: !Ref SNSContestTopic
Parameters:
  APIGatewayStageName:
    Type: String
    Description: Environment name used for API Gateway Stage names